<H1>1. 팩토리얼</H1>

<H1>0보다 크거나 같은 정수 N이 주어진다. 이때, N!을 출력하는 프로그램을 작성하시오.</H1>

<H1>첫째 줄에 정수 N(0 ≤ N ≤ 12)가 주어진다.</H1>

In [5]:
def factorial(n):
    if(n==1):
        return n
    else:
        return n * factorial(n-1)
    
n = int(input(""))

result = factorial(n)

print(result)

10
3628800

<H1>2. 피보나치 수는 0과 1로 시작한다. 0번째 피보나치 수는 0이고, </H1>
    
<H1>1번째 피보나치 수는 1이다. </H1>
    
<H1>그 다음 2번째 부터는 바로 앞 두 피보나치 수의 합이 된다.</H1>

<H1>이를 식으로 써보면 Fn = Fn-1 + Fn-2 (n>=2)가 된다.</H1>

<H1>n=17일때 까지 피보나치 수를 써보면 다음과 같다.</H1>

<H1>0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597</H1>

<H1>n이 주어졌을 때, n번째 피보나치 수를 구하는 프로그램을 작성하시오.</H1>

In [12]:
def fibo(n):
    if n == 0 or n == 1:
        return 1
    return fibo(n-2) + fibo(n-1)

n = int(input(""))

print(fibo(n-1))

10
55

<H1>
3.
<img src = "star10.jpg">
</H1>

In [3]:
def concatenate(r1, r2):
    return [''.join(x) for x in zip(r1, r2, r1)]
 
def star10(n):
    if n == 1:
        return ['*']
    n //= 3
    x = star10(n)
    a = concatenate(x, x)
    b = concatenate(x, [' '*n]*n)
 
    return a + b + a
 
print('\n'.join(star10(int(input()))))

27
***************************
* ** ** ** ** ** ** ** ** *
***************************
***   ******   ******   ***
* *   * ** *   * ** *   * *
***   ******   ******   ***
***************************
* ** ** ** ** ** ** ** ** *
***************************
*********         *********
* ** ** *         * ** ** *
*********         *********
***   ***         ***   ***
* *   * *         * *   * *
***   ***         ***   ***
*********         *********
* ** ** *         * ** ** *
*********         *********
***************************
* ** ** ** ** ** ** ** ** *
***************************
***   ******   ******   ***
* *   * ** *   * ** *   * *
***   ******   ******   ***
***************************
* ** ** ** ** ** ** ** ** *
***************************

<H1>
    4.
    <img src = "Hanoi.jpg">
</H1>

In [7]:
def hanoi(disk, A, B, C):
    if disk == 1:
        print(A, C)
    else:
        hanoi(disk - 1, A, C, B)
        print(A, C)
        hanoi(disk - 1, B, A, C)

N = int(input())

print((2**N)-1)

hanoi(N, 1, 2, 3)

3
7
1 3
1 2
3 2
1 3
2 1
2 3
1 3